.button{
    height: 36px;
    border-radius: 4px;
    background-color: #fff;
    margin: 10px 5px;
    border: 2px solid #999999;
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s 0s ease;
}
.button:hover {
    background-color: #999999;
    color: #fff
}